:root {
    --blue: #1185e2;
    --blue-light: #00bdff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --red-dark: #b53937;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --green-light: #10ff53;
    --green-dark: #237138;
    --teal: #20c997;
    --cyan: #17a2b8;
    --cyan-dark: #148093;
    --white: #fff;
    --light: #cacaca;
    --gray: #6c757d;
    --gray-light: #3e5368;
    --gray-dark: #343a40;
    --gray-darker: #181c20;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --dark: #343a40;
    --black: #141619;
}
