.header {
    -webkit-app-region: drag;
    display: flex;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    color: #ccc;

    div {
        flex: 0 1 50%;

        &:first-of-type {
            font-weight: 600;
            padding-left: 20px;
            text-transform: uppercase;
            font-size: 12px;
            opacity: 0.5;
            letter-spacing: 1px;
        }

        &:last-of-type {
            text-align: right;

            > button {
                -webkit-app-region: no-drag;
                background-color: transparent;
                border: none;
                line-height: 40px;
                height: 40px;
                width: 40px;
                transition: 100ms;
                opacity: 0.5;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                    background-color: var(--blue);
                }

                i {
                    color: #fff;
                }
            }
        }
    }
}

.clickable {
    color: var(--blue);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.site {
    display: flex;
    padding: 60px 20px;

    > nav {
        font-size: 18px;
        flex: 0 1 300px;

        a {
            color: var(--light);
            display: block;
            padding: 8px 12px;

            &:hover {
                color: var(--blue);
            }

            &.nav-link-active {
                color: var(--yellow);
            }
        }

        i {
            display: inline-block;
            margin-right: 10px;
        }
    }

    > main {
        flex: 0 1 calc(100% - 300px);
        padding-left: 30px;
    }
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.error {
    display: block;
    padding: 12px;
    border-radius: 3px;
    border: solid 1px var(--red);
    color: var(--red);
    background-color: #262626;
}

.notice {
    display: block;
    padding: 12px;
    border-radius: 3px;
    border: solid 1px var(--yellow);
    color: var(--yellow);
    background-color: #262626;
}

.modal-shade {
    position: fixed;
    z-index: 49;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%; width: 100%;
    background-color: rgba(20,20,20,0.8);
}

.file-viewer {
    display: flex;
    position: fixed;
    z-index: 50;
    top: 50px; right: 50px;
    left: 50px; bottom: 50px;
    background-color: var(--gray-darker);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 3px #000;

    hr {
        margin: 30px -15px;
    }

    > div:first-of-type {
        flex: 0 1 200px;
        padding: 15px;
        border-right: solid 1px var(--gray-dark);
        position: relative;

        h3 {
            text-align: center;
        }
    }

    > div:last-of-type {
        flex: 0 1 calc(100% - 200px);
        box-shadow: inset 0 0 80px rgba(80,80,80,0.5);
        position: relative;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANElEQVQYlWNkYGDwZcAEm////48iwIRFEVZAfYUsuCQYGRlR+TjUYXiQBd136CbBwAD6GgA21gdkf3aMOAAAAABJRU5ErkJggg==');
        background-size: 20px;
        overflow: hidden;
        outline: none;

        > img {
            max-width: 99%;
            max-height: 99%;
            border-radius: 3px;
        }
    }

    div {
        outline: none;
    }

    span {
        display: inline-block;
        color: var(--green);
        float: right;
    }

    video {
        max-width: 100%;
    }

    .file-viewer-video,
    .file-viewer-sound {
        //display: inline-block;
        //position: relative;
        //top: 50%; left: 50%;
        //transform: translate(-50%, -50%);
    }

    .file-viewer-info {
        font-size: 13px;
        font-family: Tahoma;
    }

    .file-viewer-bottom {
        text-align: center;
        position: absolute;
        left: 0; right: 0; bottom: 30px;

        > button {
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.file-multi {
    position: fixed;
    z-index: 50;
    top: 50px; right: 50px;
    left: 50px; bottom: 50px;
    background-color: var(--gray-darker);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 3px #000;
    outline: none;
    border: solid 2px var(--gray-dark);

    .file-multi-grid {
        display: flex;
        flex-wrap: wrap;
        width: 3030px;

        .file-multi-grid-item {
            flex: 0 1 1000px;
            height: 620px;
            position: relative;
            margin: 5px;
            background-color: #333;
            border-radius: 5px;

            img, video, audio, div {
                max-width: 1000px;
                max-height: 620px;
                position: relative;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


.cat-list {
    a {
        font-size: 14px;
    }

    i {
        opacity: 0.3;
    }

    .cat-label {
        float: right;
        display: inline-block;
        background-color: var(--gray-dark);
        padding: 1px 4px;
        border-radius: 5px;
        font-size: 13px;
    }
}

.cat-header {
    display: flex;

    h1 {
        margin-bottom: 0;
    }

    > div {
        flex: 0 1 50%;

        &:last-of-type {
            text-align: right;
        }
    }

    .cat-add-content {
        display: inline-block;
        background-color: var(--gray-darker);
        border: solid 2px var(--gray-dark);
        padding: 20px 40px;
        color: var(--white);
        border-radius: 3px;
        font-size: 18px;
        cursor: pointer;
        outline: none;

        &:hover {
            border: solid 2px var(--primary);
        }

        i {
            display: inline-block;
            margin-right: 6px;
        }
    }
}

.cat-actions {
    margin: 15px 0;
}

.cat-delete,
.cat-uploader {
    position: fixed;
    z-index: 50;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--gray-dark);
    box-shadow: 0 3px 0 #262a2f;
    border-radius: 3px;
    width: 600px;
    padding: 20px;
}

.cat-status {
    margin-bottom: 10px;
    color: var(--yellow);
}

.cat-images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    > span {
        flex: 0 1 320px;
        height: 160px;
        background-position: center;
        background-color: #555;
        background-size: 100%;
        border-radius: 5px;
        margin: 5px;
        transition: 100ms;
        position: relative;
        opacity: 0.5;
        overflow: hidden;

        &:hover {
            z-index: 10;
            cursor: pointer;
            box-shadow: 0 0 0 3px var(--blue-light);
            background-size: 125%;
            opacity: 1;
        }

        &.selected {
            box-shadow: 0 0 0 3px var(--green);
            opacity: 1;
        }

        > div {
            width: 320px;
            height: 160px;
            background-color: rgba(40, 167, 69, 0.20);

            i {
                position: absolute;
                display: inline-block;
                z-index: 3;
                top: 10px;
                left: 10px;
                color: #28a745;
                font-size: 20px;
                text-shadow: 0 0 5px rgba(0,0,0,0.25);
            }
        }
    }

    .cat-original {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #444;
        color: #eee;
        font-size: 10px;
        font-family: Tahoma;
        padding: 5px;
    }
}
